# custom
**/artifacts

# common files
.git
.gitignore
README.md
LICENSE
.vscode
.vs
docker
docs

# dotnet specific
[b|B]in
[O|o]bj
/tools
**/[b|B]in
**/[O|o]bj
**/out
**/.vscode
**/.vs
.dotnet
.Microsoft.DotNet.ImageBuilder

# angular specific
npm-debug.log
**/node_modules
**/dist