@use '../abstracts/variables' as *;

.app-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    p {
        margin: 0;
        padding: 0;

        small {
            vertical-align: super;
            font-size: 18px;
        }
    }

}

mat-drawer-container.navbar {
    height: 100%;

    nav {
        background-color: $primary;
        flex: 1 1 auto;
    }

    mat-toolbar {
        @media (min-width: $navbar-breakpoint) {
            nav:first-of-type {
                display: flex;
            }

            nav:last-of-type {
                display: none;
            }
        }

        @media (max-width: $navbar-breakpoint) {
            nav:first-of-type {
                display: none;
            }

            nav:last-of-type {
                display: flex;
            }
        }
    }

    mat-drawer {
        width: $drawer-width;

        mat-list {
            mat-list-item {
                text-align: center;

                a,
                button {
                    width: 100%;
                }

                .app-title {
                    flex-direction: column;

                    img {
                        height: 42px;
                        margin-bottom: 0.5rem;
                    }

                }

                &:first-of-type{
                    height: 100%;
                }
                &:last-of-type {
                    position: absolute;
                    bottom: 0.2rem;
                }
            }
        }
    }

    mat-toolbar {
        .app-title {
            flex-direction: row;

            img {
                height: 36px;
                margin-right: 0.5rem;
            }

        }
    }
}