@use './variables' as *;
@use './mixins' as *;

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@each $container-min-width, $container-max-width in $container-breakpoints {
    @include container-breakpoint($container-min-width, $container-max-width);
}
