@use '@angular/material' as mat;
@use 'sass:map';

// Theming
@include mat.core();

$primary-palette: mat.define-palette(mat.$indigo-palette, 500);
$accent-palette: mat.define-palette(mat.$purple-palette, 500);
$warn-palette: mat.define-palette(mat.$red-palette, 500);
$success-palette: mat.define-palette(mat.$green-palette, 500);

$app-theme: mat.define-light-theme((
  color: (
        primary: $primary-palette,
        accent: $accent-palette,
        warn: $warn-palette,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

@include mat.all-component-themes($app-theme);

// Colors
$white: #FFFFFF;
$black: #000000;
$gray: #E0E0E0;

$primary: mat.get-color-from-palette($primary-palette);
$accent: mat.get-color-from-palette($accent-palette);
$warn: mat.get-color-from-palette($warn-palette);
$success: mat.get-color-from-palette($success-palette);

$app-theme-colors: (
  'primary': $primary,
  'warn': $warn,
  'accent': $accent,
  'success': $success
);

// Breakpoints
$default-breakpoint: 768px;
$navbar-breakpoint: 960px;

// Containers
$container-breakpoints: (
  576px: 540px,
  768px: 720px,
  992px: 960px,
  1200px: 1140px,
  1400px: 1320px,
  ) !default;

// Tables
$table-hover-background: $gray;

// Alignment
$aligments: (
  'start': start,
  'left': left,
  'center': center,
  'right': right,
  'end': end
);

// Spacers
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

// Drawer
$drawer-width: 180px;